<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
        <li *ngFor="let menu of menus" [ngClass]="{active: menu.id == currentMenuId}">
            <a (click)="nav(menu);$event.stopPropagation(); " ><i  [ngClass]="menu.iconCss"></i>
              <span>{{menu.name}}</span></a>
          </li>     
    </ul>
  </section>
  <!-- /.sidebar -->+
</aside>